@import '~@fluentui/react/dist/sass/References.scss';

.helloDashboardHeft {
  overflow: hidden;
  padding: 24px;
  background: #f5f7fb;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}